.slick-dots > li {
  width: 8px !important;
  height: 15px !important;
}

.slick-dots > li > button {
  width: 8px !important;
  height: 8px !important;
  border-radius: 4px !important;
}

.slick-dots > li.slick-active {
  width: 9px !important;
}